.main {
    margin: 0 auto;
    padding-top: 94px;

    width: $mobile-width;

    font-family: $font-main;
}

@media (min-width: $desktop-width) {
    .main {
        width: $desktop-width;

    }
}
