.nav-list {
    @include list-reset;

    margin: 20px 0;
}

.nav-list__link {
    margin: 10px 0;

    display: block;

    color: $color-white;
    text-decoration: none;
    font-size: 15px;
    line-height: 19.5px;
    font-weight: 500;
    letter-spacing: 3%;
}