$border-bottom: 1px solid #dcdcdc;
$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", "Tahoma", sans-serif;
$main-background: #f2f2f2;
$secondary-bacground: #68b738;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
