$font-main: "IBM Plex Sans", "Arial", sans-serif;

$color-main: #103D97;
$color-secondery: #ECF0F7;
$color-white: #ffffff;

$mobile-width: 375px;

$border-bottom: 1px solid #dcdcdc;
$main-background: #f2f2f2;
$secondary-bacground: #68b738;

$desktop-width: 1300px;
