$font-main: "IBM Plex Sans", "Arial", sans-serif;

$color-main: #103D97;
$color-secondery: #ECF0F7;
$color-white: #ffffff;
$color-hover: #466AAA;
$color-bg: #F9F8FC;
$color-gray: #8E8E93;
$color-border: #E5E5EA;
$color-red: #FF3B30;

$mobile-width: 375px;
$desktop-width: 1200px;

$border-bottom: 1px solid #dcdcdc;
$main-background: #f2f2f2;
$secondary-bacground: #68b738;
